{% extends 'base.html' %}
{% block title %}Demo{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/demo.css">
    <div class="header">
        <ul class="step">
            <li class="number">
                <div>
                    <p class="text-step">1</p>
                </div>
            </li>
            <li class="number">
                <div>
                    <p class="text-step">2</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="text ">
            <h3 class="content-title step-1">Input two gene files</h3>
            <p class="content-text step-1">Requirement: Please note that it is mandatory to input genotype and phenotype files in one folder in the
                 designated section. This specific requirement is crucial for the proper functioning of the biological tool. 
                 Failure to include these files or placing them incorrectly may result in the tool's inability to execute or yield 
                 inaccurate results.</p>
        </div>
        <div class="text ">
            <h3 class="content-title step-2">Output a CSV file </h3>
            <p class="content-text step-2">The output comprises a CSV file containing the selected list of results chosen by the user. 
                This file serves as a concise overview, and for lengthy result strings, we restrict the characters to a maximum of 50.
                 To access the complete set of results, users can download the file for comprehensive examination.</p>
        </div>
    </div>
    <div class="img_content">
        <div class="input img">
            <img src="../static/images/input.jpg" alt="Input file fastq" class="input_img">
        </div>
        <div class="output img">
            <img src="../static/images/output.jpg" alt="Input file fastq" class="input_img">
        </div>
    </div>
<script src="../static/demo.js"></script>
{% endblock %}