{% extends 'home.html' %}
{% block title %}Folder{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/folder.css">
<div class="container">
  <div class="form">

    <h2 class="title head" style="text-align: center">Folder: {{ folder.name }}</h2>
    
    <!-- Display files -->
    <p class="title"><i>Upload genotype and phenotype files</i></p>
    <ul class="input_file">
      {% for subfile in subfiles %}
        {% if subfile.name.endswith('.hmp.txt') or subfile.name.endswith(".xlsx") %}
          <div class="file-list name-file">
            <li>{{ subfile.name }}</li>
            <button type="button" class="close" onclick="deleteSubFile('{{ subfile.id }}','{{ subfile.folder_id }}')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
    
  
    <!-- Create new file -->
    <form action="/folder/{{ folder.id }}" method="post" enctype="multipart/form-data" id="uploadForm">
      <div id="fileInputContainer">
        {% if subfiles|length>=2 %}
        <button type="button" class="btn-primary btn execute-button" id="addFileBtn" onclick="executeF('{{ folder.id }}')">Analyze</button>
        {% else %}
        <ul>
          {%if subfiles|length==0%}
          <div class="file-list box-list">
            <li><input type="file" id="inputFile1" name="inputFile1" accept=".hmp.txt, .csv, .xlsx"></li>
          </div>
          <div class="file-list box-list">
            <li><input type="file" id="inputFile2" name="inputFile2" accept=".hmp.txt, .csv, .xlsx"></li>
          </div>
          {%elif subfiles[0].name.endswith(".hmp.txt") or subfiles[0].name.endswith(".csv") or subfiles[0].name.endswith(".xlsx") %}
          <div class="file-list box-list">
            <li><input type="file" id="inputFile1" name="inputFile1" accept=".hmp.txt, .csv, .xlsx"></li>
          </div>
          {%elif subfiles[0].name.endswith(".hmp.txt") or subfiles[0].name.endswith(".csv") or subfiles[0].name.endswith(".xlsx")%}
          <div class="file-list box-list">
            <li><input type="file" id="inputFile2" name="inputFile2" accept=".hmp.txt, .csv, .xlsx"></li>
          </div>
          {%endif%}
        </ul>
        <button type="submit" class="btn btn-primary">Add File</button>
        {% endif %}
      </div>
    </form>
  
    <!-- Display output files -->
    <div class="output-file">
      <p class="title"><i>The output will be a CSV file containing annotated genomic variations obtained by converting mlm files</i></p>
      
      <div class="tabs">
        <button class="tab-button" onclick="showSection('preprocess')">Preprocessing</button>
        <button class="tab-button" onclick="showSection('gwas')">GWAS</button>
      </div>
    
      <div id="preprocess-section" class="file-section active">
        <ul>
          {% for subfile in preprocess %}
            <div class="file-list name-file">
              <li><a href="{{ url_for('get_file', file_id=subfile.id) }}">{{ subfile.name }}</a></li>
              <button type="button" class="close" onclick="deleteSubFile('{{ subfile.id }}','{{ subfile.folder_id }}')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </ul>
      </div>
    
      <div id="gwas-section" class="file-section">
        <ul>
          {% for subfile in snps %}
            <div class="file-list name-file">
              <li><a href="{{ url_for('get_file', file_id=subfile.id) }}">{{ subfile.name }}</a></li>
              <button type="button" class="close" onclick="deleteSubFile('{{ subfile.id }}','{{ subfile.folder_id }}')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </ul>
      </div>
    </div>     
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var preprocessSection = document.getElementById('preprocess-section');
    var preprocessButton = document.querySelector('button[onclick="showSection(\'preprocess\')"]');
    preprocessSection.style.display = 'block';
    preprocessSection.style.opacity = '1';
    preprocessSection.style.transform = 'translateX(0)';
    preprocessButton.classList.add('active');
  });
  
  function showSection(section) {
    var preprocessSection = document.getElementById('preprocess-section');
    var gwasSection = document.getElementById('gwas-section');
    var preprocessButton = document.querySelector('button[onclick="showSection(\'preprocess\')"]');
    var gwasButton = document.querySelector('button[onclick="showSection(\'gwas\')"]');
  
    if (section === 'preprocess') {
      preprocessSection.classList.add('active');
      preprocessSection.style.display = 'block';
      setTimeout(() => {
        preprocessSection.style.opacity = '1';
        preprocessSection.style.transform = 'translateX(0)';
      }, 10);
  
      gwasSection.style.opacity = '0';
      gwasSection.style.transform = 'translateX(-100%)';
      setTimeout(() => {
        gwasSection.style.display = 'none';
        gwasSection.classList.remove('active');
      }, 500);
  
      preprocessButton.classList.add('active');
      gwasButton.classList.remove('active');
    } else if (section === 'gwas') {
      gwasSection.classList.add('active');
      gwasSection.style.display = 'block';
      setTimeout(() => {
        gwasSection.style.opacity = '1';
        gwasSection.style.transform = 'translateX(0)';
      }, 10);
  
      preprocessSection.style.opacity = '0';
      preprocessSection.style.transform = 'translateX(-100%)';
      setTimeout(() => {
        preprocessSection.style.display = 'none';
        preprocessSection.classList.remove('active');
      }, 500);
  
      gwasButton.classList.add('active');
      preprocessButton.classList.remove('active');
    }
  }  
</script>
{% endblock %}
