{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/home.css">

<div class="form">
  <br>
  <div class="header-container">
    <h2 class="title">Folders list</h2>
    <!-- Trigger the modal with a button -->
    <div class="create-btn-container">
      <button type="button" class="btn create-btn" onclick="openModal()">
        <span class="plus-sign">+</span> Create <span class="dropdown-arrow">&#9662;</span>
      </button>
    </div>
  </div>

  <table class="file-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Modified</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for folder in folders %}
        {% if folder.parent_folder_id is none %}
          <tr>
            <td class="folder-name">
              <img src="/static/images/Folder.png" class="icon-folder">
              <a href="{{ url_for('get_folder', folder_id=folder.id) }}" class="link">{{ folder.name }}</a>
            </td>
            <td class="folder-modified">{{ folder.date }}</td>
            <td class="close">
              <button type="button" class="close" onclick="deleteFolder('{{ folder.id }}')">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  
</div>

<!-- Modal -->
<div id="folderModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()" style="text-align: left;">&times;</span>
    <h2 class="title" style="text-align: center;">Create Folder</h2>
    <form action="/folder" method="post" class="input">
      <input type="text" id="folderName" name="folderName" placeholder="Enter folder name">
      <button type="submit" class="btn">Create Folder</button>
    </form>
  </div>
</div>

<!-- Overlay for background blur effect -->
<div id="overlay" class="overlay"></div>

<script>
  function openModal() {
    document.getElementById('folderModal').style.display = 'block';
    document.getElementById('overlay').style.display = 'block';
    document.body.style.overflow = 'hidden';
  }

  function closeModal() {
    document.getElementById('folderModal').style.display = 'none';
    document.getElementById('overlay').style.display = 'none';
    document.body.style.overflow = 'auto';
  }
</script>
{% endblock %}
