{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

<link rel="stylesheet" href="../static/login.css">
<div id="blur" class="hide"></div>

<div id="popup_login" class="hide popup_form">
    <form action="/login" method="post">
        <h1 align="center">Login</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div id="password_container">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                <img src="../static/images/eye-show.png" alt="" id="icon">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button> <br>
        <a href="{{url_for('forgot')}}" class="reset_pass">Forgot password ?</a>
    </form>
</div>

<div id="popup_sign_up" class="hide popup_form">
    <form action="/sign-up" method="post">
        <h1 align="center">Create an account</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div id="password_container">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                <img src="../static/images/eye-show.png" alt="" id="icon">
            </div>
        </div>
        <div class="form-group">
            <label for="re-password">Confirm Password</label>
            <div id="password_container">
                <input type="password" class="form-control" id="re-password" name="re-password" placeholder="Enter password">
                <img src="../static/images/eye-show.png" alt="" id="re-icon">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="../static/login.js"></script>

<div class="header">
    <link rel="stylesheet" href="../static/index.css">
    <div class="form text-center mx-auto range">
        <h1 class="title">Silicon Absorption Tool for Vietnamese Rice <br></h1>
    </div>
    <div class="form text-center mx-auto">
        <h1 class="begin"><strong>Bioinformatic tools</strong></h1>
    </div>
    <div class="box">
        <div class="tool-box" style="margin-top: 15px">
            <a href="https://www.bioinformatics.babraham.ac" target="_blank" title="TASSEL">
                <p class="font-tool name">TASSEL</p>
                <p class="font-tool content">TASSEL 5.0 can do everything you need</p>
            </a>
        </div>
    </div>
</div>

<div class="our-story-section">
    <h2 class="title-story">Our Story</h2>
    <div class="box-story">
        <p>Currently, the field of Information and Communication Technology (ICT) is rapidly advancing globally, especially in the medical sector, particularly in the detection of bone abnormalities. Researchers have integrated information technology into their studies, developing various bioinformatics tools. However, most of these tools function independently and have limited fixed features, such as Clustal X (used for comparing and aligning nucleotide or protein sequences) and SeqVerter (converting between DNA or protein sequence formats). Nevertheless, the standalone nature and limited functionality of these tools pose challenges, as researchers often need to input and output data multiple times, consuming considerable time and effort but the final results may still be inaccurate.</p>
        
        <br>
        
        <h3 class="our-story-subtitle">The Problem</h3>
        <p>Recognizing this reality, our team conceived and developed a website that connects suitable bioinformatics tools. Our software specifically supports the processing of limb bone abnormality data.</p>
        
        <br>
        
        <h3 class="our-story-subtitle">Our Solution</h3>
        <p>This project not only combines the fields of information science and biological technology but also addresses the practical challenges faced by researchers. We hope that this project will contribute to the advancement of bioinformatics software technology and serve as a significant step forward for research in this domain.</p>
    </div>
</div>

<footer class="footer">
    <img src="../static/images/background_image.jpg" alt="Background" class="bg_footer">
    <img src="/static/images/usth_footer.png" alt="" class="img-logo">
    <div class="box-footer">
        <div class="footer-left">
            <h3 class="footer-title">Site map</h3>
            <a href="{{url_for('ourstory')}}" id="ourstory">
                <p class="footer-text">Our Story</p>
            </a>
            <a href="{{url_for('pipeline')}}" id="pipeline">
                <p class="footer-text">Bioinformatics Pipeline</p>
            </a>
            <a href="{{url_for('demo')}}" id="demo">
                <p class="footer-text">Demo</p>
            </a>
        </div>
        <div class="content-right">
            <h3 class="footer-title">Get in touch</h3>
            <p class="footer-text">A21 building, Vietnam Academy of Science <br> and Technology, 18 Hoang Quoc Viet, Cau Giay, Hanoi</p>
            <p class="footer-text">+84-24 37 91 69 60</p>
            <a href="mailto:officeusth@usth.edu.vn">
                <p class="footer-text" title="Mail to USTH">officeusth@usth.edu.vn</p>
            </a>
        </div>
    </div>
</footer>

{% endblock %}
