{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<div id="blur" class="hide"></div>

<div id="popup_login" class="hide popup_form">
    <form action="/login" method="post">
        <h1 align="center">Login</h1>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div id="password_container">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                <img src="{{ url_for('static', filename='images/eye-show.png') }}" alt="Show password" id="icon">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
        <br>
        <a href="{{ url_for('forgot') }}" class="reset_pass">Forgot password?</a>
    </form>
</div>

<div id="popup_sign_up" class="hide popup_form">
    <form action="/sign-up" method="post">
        <h1 align="center">Create an account</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div id="password_container">
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                <img src="{{ url_for('static', filename='images/eye-show.png') }}" alt="Show password" id="icon">
            </div>
        </div>
        <div class="form-group">
            <label for="re-password">Confirm Password</label>
            <div id="password_container">
                <input type="password" class="form-control" id="re-password" name="re-password" placeholder="Enter password">
                <img src="{{ url_for('static', filename='images/eye-show.png') }}" alt="Show password" id="re-icon">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="{{ url_for('static', filename='login.js') }}"></script>

<div class="header">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <div class="form text-center mx-auto range">
        <h1 class="title">Tools for analyzing and visualizing data of silicon absorption in Vietnamese rice varieties</h1>
    </div>
    <div class="form text-center mx-auto">
        <p>Welcome to the cutting-edge bioinformatics web tool designed for analyzing and visualizing sequence data related to silicon absorption in Vietnamese rice varieties. Our website offers user-friendly interfaces for seamless data processing and insightful visualization, enhancing research efficiency.</p>
    </div>
</div>

<div class="our-story-section">
    <h2 class="title-story" style="text-align: center;">Our Story</h2>
    <div class="box-story">        
        <!-- <h3 class="our-story-subtitle">The Problem</h3> -->
        <p><strong>The Problem: </strong>Understanding the genetic mechanisms governing silicon (Si) uptake in rice is important for improving agricultural productivity and sustainability. Current tools for Si identification are fragmented, complex, and require significant computational expertise, slowing research progress.</p>
        
        <!-- <h3 class="our-story-subtitle">Our Solution</h3> -->
        <p><strong>Our Solution:</strong> We are developing integrated, user-friendly software tools to automate data processing tasks related to Si uptake in rice. These tools streamline workflows minimizing labor and errors and have a user-friendly interface.</p>
    </div>
    <div class="box">
        <div class="tool-box" style="margin-top: 15px">
            <a href="https://tassel.bitbucket.io/" target="_blank" title="TASSEL">
                <img src="../static/images/Tassel_Logo128.png" alt="Tassel">
                <p class="font-tool name">TASSEL</p>
            </a>
        </div>
        <p>TASSEL 5.0 is crucial in our bioinformatics project on processing data of silicon absorption in Vietnamese rice. It excels in genetic analysis, offering tools for efficient data processing and visualization. Using its command line interface, we manage large-scale genetic data, perform complex statistical analyses like MLM to identify key genetic markers and generate Q-Q plots and Manhattan plots. This is very useful in visualizing data into diagram that help users easily get accurate results.</p>
    </div>
</div>



<footer class="footer">
    <img src="{{ url_for('static', filename='images/background_image.jpg') }}" alt="Background" class="bg_footer">
    <img src="{{ url_for('static', filename='images/usth_footer.png') }}" alt="USTH Logo" class="img-logo">
    <div class="box-footer">
        <div class="footer-left">
            <h3 class="footer-title">Site map</h3>
            <a href="{{ url_for('ourstory') }}" id="ourstory">
                <p class="footer-text">Our Story</p>
            </a>
            <a href="{{ url_for('pipeline') }}" id="pipeline">
                <p class="footer-text">Bioinformatics Pipeline</p>
            </a>
            <a href="{{ url_for('demo') }}" id="demo">
                <p class="footer-text">Demo</p>
            </a>
        </div>
        <div class="content-right">
            <h3 class="footer-title">Get in touch</h3>
            <p class="footer-text">A21 building, Vietnam Academy of Science <br> and Technology, 18 Hoang Quoc Viet, Cau Giay, Hanoi</p>
            <p class="footer-text">+84-24 37 91 69 60</p>
            <a href="mailto:officeusth@usth.edu.vn">
                <p class="footer-text" title="Mail to USTH">officeusth@usth.edu.vn</p>
            </a>
        </div>
    </div>
</footer>

{% endblock %}
